extend ../common/new-page

block title
	title Error
block main
	article#98.post
		.post-content
			p
				| #{message}
		.post-permalink
			a.btn.btn-default(href='#{base}/list') 返回
		footer.post-footer.clearfix
			.pull-right.share