.background {
    background: #222;
    opacity: 0.5;
    overflow: hidden;
}

#container {
    width: 180px;
    margin: 30% auto;
}

#container h1 {
    font-family: 'Lato';
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.5px;
    text-align: center;
    width: 155px;
    margin-top: 20px;
    -webkit-animation: fade 2s infinite;
    -moz-animation: fade 2s infinite;
    animation: fade 2s infinite;
}

.stick {
    width: 30px;
    height: 3px;
    background: white;
    display: inline-block;
    margin-left: -8px;
}

.stick:nth-child(n) {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Safari and Chrome */
    -moz-transform: rotate(30deg);
    -webkit-animation: fall 2s infinite;
    -moz-animation: fall 2s infinite;
    animation: fall 2s infinite;
}

.stick:nth-child(2n) {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    /* Safari and Chrome */
    -moz-transform: rotate(-30deg);
    -webkit-animation: rise 2s infinite;
    -moz-animation: rise 2s infinite;
    animation: rise 2s infinite;
}

.stick-static {
    transform: rotate(0deg) !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    animation: none !important;
}

@-webkit-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@-moz-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@-o-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@-webkit-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
}

@-moz-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
    }
}

@-o-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
}

@keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
}

@-webkit-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}