link(rel='stylesheet',type='text/css',href='/admin/css/default.css')
link(rel='stylesheet',type='text/css',href='/theme/#{setting.theme}/easyui.css')
link(rel='stylesheet',type='text/css',href='/theme/icon.css')
script(type='text/javascript',src='/js/jquery.min.js')
script(type='text/javascript',src='/js/jquery.easyui.min.js')
script(type='text/javascript',src='/js/layout.js')