html
head
    include head
    block title
        title #{config.cnName}
body.easyui-layout(fit="true")
    div(data-options="region:'center'")
        block content
    div(data-options="region:'south'", style="height: 32px;")
        block foot
            p(style="margin: 0px auto; line-height: 30px; text-align: center;") #{config.company}--#{datetime ? datetime.year : 2016}